#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;

  text-align:center;
  vertical-align: middle;
  /** line-height: 60px; */
  /** need this to center but it causes page to overscroll due to adding 60px on bottom. */
}
#footer a {
  color:gray;
}
#footer-links {
  height: 60px;
  text-align: justify;
}
#footer-links > span {
  display:inline-block;
  vertical-align: top;
  text-align: right;
  color:gray;

  padding-top: 22px;  /** hack to center the text. line-height causes page to overscroll */

  overflow:hidden;  /** double-check that it's ok to hide copyright */

  /* IE fix */
  *display: inline;
  zoom:1;
}
#footer-links:after {
  content: "";
  width: 100%;
  display: inline-block;
}

@media (max-width: 460px) {
  #footer {
    height:initial;
    position: initial;
  }
  #footer-links {
    height:initial;
  }
  #footer-links > span {
    display:block;
    text-align: center;
  }
}

body {
  background-color: transparent;
}
#title {
  top: 200px;
  left: 0;
  width: 100%;
}
#title-block {
  margin-top: 40px;
  margin-left: 20%;
  width:50%;
}
#spaced-title {
  text-align: justify;
  height:50px;
}
#spaced-title > span {
  width: 20%;
  display:inline-block;
  vertical-align: top;
  text-align: right;

  /* IE fix */
  *display: inline;
  zoom:1;
}
#spaced-title:after {
  content: "";
  width: 100%;
  display: inline-block;
}
#right-justify-title {
  text-align: justify;
}
#right-justify-title  > span {
  display:inline-block;
  vertical-align: top;
  text-align: right;

  /* IE fix */
  *display: inline;
  zoom:1;
}
#right-justify-title :after {
  content: "";
  width: 100%;
  display: inline-block;
}
#right-justify-title {
  text-align: right;
}